@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Raleway:wght@300&display=swap');

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 3%;
    background-color: #fff;
}

.socialIcons {
    display: flex;
    align-items: center;
}

.email {
    font-size: 18px;
    margin-right: 10%;
    
}

.socialIcons a {
    color: #000000;
    text-decoration: none;
    margin-right: 10px;
}

.icon {
    font-size: 30px;
    padding-right: 15px;
}

.resumeBtn {
    display: flex;
    align-items: center;
}

.resumeBtn a {
    font-family: 'Chakra Petch', sans-serif;
    transition: 0.5s ease;
    font-size: 20px;
}

.resumeBtn a:hover {
    color: #79BCCB;
    transition: 0.5s ease;
}
